.vscode/
.vscode-test/
.history/
.git/
.gitignore
.vscodeignore
src/
tsconfig.json
esbuild.js
.eslintrc.json
*.map
out.log
**/*.ts
node_modules/
!node_modules/@vscode/codicons/dist/**
!dist/extension.js
!resources/**
!LICENSE
!README.md
!package.json
